@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1400px;
}
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
.container{
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
}
.up{
    text-align: center;
}
 .up h1{
   margin-bottom: 15px;
}
.up h1 +p{
color: #777;
}
/* header */
.header{
    position: fixed;
    z-index: 2;
    right: 0;left: 0;
    background-color: white;
}
.header .container .content{
position: relative;
display: flex;
align-items: center;
justify-content: space-between;
padding: 15px 0 40px 0;
height: 90px;

}
.header .container .logo{
display: flex;
align-items: center;
gap: 5px;
cursor: pointer;
}
.header .container .logo a{
font-size: 20px;
text-transform: capitalize;
font-weight: bold;
color: black;
}

.header .content .contact{
    display: flex;
    align-items: center;
}
.header .contact i ,
.header .content .contact+i{
    display: none;
}
.header .content .contact a{
background-color: #2928280e;
padding: 10px;
display: block;
margin-left: 10px;
font-size: 14px;
color: black;
transition: .3s;
}
.header .content .contact a:hover{
   background: linear-gradient(to right, #67bc00
    40% , #76b976);
}
.header  .category{
position: absolute;
width: 100%;
bottom: -20px;
height: 40px;
padding: 20px;
background: linear-gradient(to right, #67bc00
40% , #76b976);
display: flex;
align-items: center;justify-content: space-between;
}
.header .category ul{
display: flex;
align-items: center;
padding:0 20px;
}
.header .category li{
margin-right: 25px;
}
.header  .category a{
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color:white;

}
.header  .category .icons{
    display: flex;
    gap: 20px;
}
.header .category .icons i{
color: white;
opacity: 0.5;
cursor: pointer;
transition: .3s;
}
.header .contact i ,
.header .content .contact+i{
    margin-left: 30px;
    color: #67bc00;
    background-color: #cac8c846;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
.header .contact i:hover ,
.header .content .contact+i:hover {
    background-color: #67bc00;
    color: white;
}
.header .content i.fa-bars:hoverul{
    display: block;
}
.header .category .icons i:hover {
    opacity: 1;
}
@media (max-width:991px) {
    
    .header .content .contact a ,
    .header .content .category{
        display: none;
    }
    .header .contact i ,
    .header .content .contact+i{
        display: block;
    }
}
/* section1 */
.section1{
  background-image: url(./lan.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.section1::before{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    top: 0;left: 0;
    background-color: rgba(0, 0, 0, 0.4);
  
}
.section1 .content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;justify-content: center;
    flex-direction: column;
    color: white;
    top: 100px;
}
.section1 h5{
    margin-top: 50px;
    font-size: 16px;
    letter-spacing: 1.5px;
}
.section1 h1{
font-size: 40px;
}
.section1 p{
    text-align: center;
    max-width: 650px;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 50px;
}
.section1 button{
    background: linear-gradient(to right, #67bc00
    40% , #76b976);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    padding: 13px 33px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    transition: .3s;
}
.section1 button:hover{
outline: 1px solid white;
background: transparent;
}
/* section2 */
.section2 .above{
  background-color: white;
    top: -100px;
    position: relative;
    display: flex;flex-direction: column;
    align-items: center;
    justify-content: center;
  border-radius: 20px;
    box-shadow: 0 10px 30px #cac8c8;
}
.section2 .above h2{
margin-top: 60px;
font-size: 30px;
}
.section2 .above p{
    color: #777;
    margin: 30px 0;
}
.section2 .above button{
    padding: 8px 40px 8px 50px;
    background-color: aliceblue;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
    word-spacing: 1.2px;
    position: relative;
    border: none;
    cursor: pointer;
}
.section2 .above button::before{
content: '';
position: absolute;
width: 10px;height: 10px;background-color: #67bc00;
border-radius: 50%;
line-height: 10;
top: 50%;
left: 30px;
transform: translateY(-50%);
animation: move 2s linear infinite;
}
@keyframes move {
    0% ,100%{
    width: 5px;
    height: 5px;
    }
    50% {
    width: 10px;
    height: 10px;
    }
}
.section2 .above .cols{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.section2 .above .cols .col{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section2 .above .cols .col .d2{
    margin: 0 30px;
}
.section2 .above .cols .col .d1{
    direction: rtl;
}
.section2 .above .cols .col .d3{
   color: #777;
   font-size: 14px;
}
.section2  .content{
display: flex;
align-items: center;
flex-direction: column;
}
.section2 .content .boxs{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(250px, 1fr));
gap: 10px;
width: 100%;
margin: 80px 0 120px;
}
.section2 .content .boxs .box{
    cursor: pointer;
    padding: 10px;
    transition: .3s;
}
.section2 .content .boxs .box:hover{
    box-shadow: 0 0 5px #67bc00;
}
.section2 .content .boxs .box:hover h3{
    color: #67bc00;
}
.section2 .content .boxs .box img{
    width: 100%;
}
.section2 .content .boxs h3{
    font-size: 18px;
    margin: 20px 0;
    transition: .3s;
}
.section2 .content .boxs p{
    color: #777;
    line-height: 1.6;
    font-size: 14px;
    font-weight: 300;
}
/* section3 */
.section3{
    background-color:black;
    padding: 30px;
}
.section3 .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1350px;
    margin: 0 auto;
}
.section3 .content .image ,
.section3 .content .text{
    width: 45%;
}
.section3 img{
width: 100%;
}@media(max-width:991px){
    .section3 .content .image{
        display: none;
    }
    .section3 .content .text{width: 100%;}
}
.section3 .content .text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}
.section3 .content .text h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: white;
}
.section3 .content .text p{
color: #777;
font-size: 14px;
line-height: 1.4;
margin-bottom: 30px;
}
.section3 .content .text .txt{
    display: flex;
    gap: 20px;
}
.section3 .content .text .txt i{
    color: #74e633;
    font-size: 30px;
    margin-bottom: 25px;
}
.section3 .content .text .txt h3{
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: .3s;
}
.section3 .content .text .txt h3:hover{
    color: #67bc00;
}
/* .section4 */
.section4{
    padding: 85px 0;
}
.section4 .up p{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.section4 .clients{
display: grid;
grid-template-columns: repeat(auto-fill , minmax(280px,1fr ));
 gap: 30px;
}
.section4 .client{
   text-align: center;
  border: 1px solid #99999931;
   margin-top: 50px;
   padding: 25px;
   border-radius: 10px;
   cursor: pointer;
   transition: .3s;
}
.section4 .client img{
    margin: 20px 0;
    width: 100px;
    box-shadow: 0 0 10 #67bc00;
}
.section4 .client p{
    color: #777;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.section4 .client h4{
    text-transform: capitalize;
}
.section4 .client:hover{
    border: 1px solid #67bc00;
}
.section4 .dots{
    text-align: center;
   margin-top: 30px;
}
.section4 .dots span{
    margin: 5px;
    cursor: pointer;
}
/* section5 */
.section5{
    padding: 85px 0; 
    background-color: aliceblue;
}
.section5 .up p{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.section5 .doctors{
    padding-top: 85px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.section5 .doctors .image{
    position: relative;
    cursor: pointer;
    transition: .3s;
}
.section5 .doctors .image::before{
    content: '';
    position: absolute;
    width: 100%;height: 100%;
    top: 0;left: 0;
    background-color: #67bc0085;
   opacity: 0;
   transition: .9s;
}
.section5 .doctors .image .txt{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15%;
    color: white;
    cursor: pointer;
 opacity: 0;
    transition: .9s;
}
.section5 .doctors .image .txt p{
    cursor: pointer;
    font-size: 14px;
    margin-top: 15px;
}
.section5 .doctors .image:hover::before ,
.section5 .doctors .image:hover .txt{
    opacity: 1;
}
/* section6 */
.section6{
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
}
 .up p{
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}
.section6 .boxs{
    max-width: 1000px;
    margin: 60px auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;


}
.section6 .boxs .box{
width: 400px;
cursor: pointer;
display: flex;
gap: 20px;

}
.section6 .boxs .text{
    position: relative;
}
.section6 .boxs .text::after
{
position: absolute;
content: '';
width: 0%;height: 100%;
background-color: #67bc001c;
border-radius:0  30px 30px 0;
transition: 1s;
}
.section6 .boxs .text::before{
    top: 0px;left: 0;
}
.section6 .boxs .text::after{
bottom: 0px ;left: 0;
}
.section6 .boxs .box:hover .text::before ,
.section6 .boxs .box:hover .text::after{
    width: 100%;
}
.section6 .boxs  img{
width: 50px;
height: 50px;
position: relative;
top: -7px;
}
.section6 .boxs .text h4{
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    transition: .3s;
}
.section6 .boxs .text:hover h4{
    color: #67bc00;
}
.section6 .boxs .text p{
color: #777;
font-size: 14px;
line-height: 1.6;
max-width: 380px;
}
@media(max-width:767px) {
    .section6 .boxs .text{
        text-align: center;
    }
    .section6 .boxs{
        gap: 50px;
    }
}
/* rp-section */
.rp-section .word{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 45%;
    max-width: 700px;
    padding: 20px;
}
.rp-section .word .inputs{
 display: flex;
 flex-direction: column;
}
.rp-section .word .inputs input {
display: flex;
margin: 10px 0;
padding: 15px;
border-radius: 5px;
color: rgba(255, 255, 255, 0.7);
background-color: transparent;
outline: none;
border: 1px solid rgba(255, 255, 255, 0.308);
caret-color: #67bc00;
text-transform: capitalize;
transition: .3s;
}
.rp-section .word .inputs div{
   display: flex;
   gap:20px;
}
.rp-section .word .inputs div input{
   width: calc(50% - 10px);
    text-transform: capitalize;
    transition: .3s;
  
}
.rp-section .word .inputs textarea{
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.7);
    caret-color: #67bc00;
    height: 100px;
    resize: none;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.308);
    padding: 15px ;
    transition: .3s;
}
.rp-section .word .inputs input:focus ,
.rp-section .word .inputs textarea:focus{
box-shadow: 0 0 5px #67bc00;
}
.rp-section input:focus::placeholder ,
.rp-section  textarea:focus::placeholder{
visibility: hidden;
}
.rp-section .word .inputs button{
width: fit-content;
margin-left: auto;
margin-top: 20px;
padding: 10px 20px;
color: white;
font-size: 14px;
text-transform: uppercase;
background-color: #67bc00;
border:1px solid #67bc00 ;
cursor: pointer;
transition: .3s;
}
.rp-section .word .inputs button:hover{
    background-color: transparent;
    color: #67bc00;
    border:1px solid #67bc00 ;
}
.rp-section .word .date input{
    color: rgba(255, 255, 255, 0.7);
    background-color: #67bc0052;
}

.rp-section .image{
width: 45%;
}
.rp-section .image img{
max-height: 450px;
}
@media (max-width:991px) {
    .rp-section .word{
        width: 100%;
}
}
/* section8 */
.section8{
    padding: 100px 0;
}
.section8 .boxes{
   display: grid;
   grid-template-columns: repeat(auto-fill , minmax(250px , 1fr));
    gap: 30px;
    margin-top: 60px;
}

.section8 .boxes .box:hover img{
    scale: 1.2;
}

.section8 .boxes .box:hover h3{
    color: #67bc00;
}
.section8 .boxes .box .img{
overflow: hidden;
}
.section8 .boxes .box .img img{
width: 100%;
transition: .5s;
}
.section8 .boxes .box .img{
    cursor: pointer;
    position: relative;
}
.section8 .boxes .box .img::before{
content: '';
position: absolute;
width: 100%;
height: 100%;
top: 0;left: 0;
background-color: rgba(255, 255, 255, 0.2);
z-index: 1;

}
.section8 .boxes .box .img:hover::before ,
.section8 .boxes .box:hover .img::before{
    background-color: rgba(255, 255, 255, 0);
}
.section8 .boxes .box span{
    display: block;
    margin: 20px 0;
    padding: 5px 30px;
    background-color: rgb(48, 47, 47);
    width: fit-content;
    color: #ffffffb3;
}
.section8 .boxes .box h3{
    font-size: 17px;
    font-weight: 600;
    transition: .3s;
    cursor: pointer;

}
.section8 .boxes .box p{
   margin: 20px 0;
    color: #777;
    line-height: 1.6;
}
.section8 .boxes .box .fix{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section8 .boxes .box .fix i ,
.section8 .boxes .box .fix a{
    color: #777;
    font-size: 12px;
    
}
/* footer */
footer {
    padding: 100px 0 110px;
    background-color: black;
    color: white;
}
footer .boxes{
    display: flex;

   justify-content: space-between;
}
footer .boxes .product{
    width: 15%;
}
footer .boxes .contact{
    width: 25%;
}
footer .boxes .news{
    width: 40%;
}
footer .boxes h4{
font-size: 20px;
font-weight: bold;
margin-bottom: 25px;



}
footer .boxes ul li{
font-size: 12px;
padding: 8px 0;
min-width: 150px;
cursor: pointer;
transition: .3s;
}
footer .boxes ul li:hover{
   color: #67bc00;
    }

footer .boxes p{
  line-height: 1.6;
    font-size: 12px;
    margin-bottom: 15px;
}
footer .boxes .contact span{
   display: block;
   color: #67bc00;
   padding: 8px 0;
}
footer .boxes .news  input[type='email']{
    border-radius: 15px;
    padding: 6px;
    padding-left: 20px;
    font-size: 12px;
    outline: white;
    border: 1px solid #0f0f0f;
    width: 230px;
    border: 2px solid white;
    font-size: 12px;
    margin-right: 20px;
}
footer .boxes .news  input[type='email']:focus{
   border: 2px solid #67bc00;
   caret-color: #67bc00;
}
footer .boxes .news  input[type='email']:focus::placeholder{
    visibility: hidden;;
}
footer .boxes .news input[type='submit']{
    font-size: 12px;
    padding: 8px 40px 8px 20px;
    border-radius: 20px;
    color: white;
    background-color: #67bc00;
    outline: none;
    border: 1px solid #67bc00;
    cursor: pointer;
}

footer .boxes .news i{
    position: relative;
    right: 35px;
    top: 1px;
    font-size: 14px;
   transition: .3s;
}
footer .boxes .news input[type='submit']:hover +i{
    transform: translateX(8px);
    scale: .8;
}
@media (max-width:767px) {
    footer .boxes{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    footer .boxes .box{
        width: 100%;
        text-align: center;
      
    }
}
footer .btm{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media (max-width:767px){
    footer .btm{
        flex-direction: column;
        gap: 20px;
    }
}
footer .btm p{
    font-size: 12px;
}
footer .btm p i ,
footer .btm p a {
color: #67bc00; 
}
footer .btm .icons{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .btm .icons i{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
footer .btm .icons i:hover{
    background-color: #67bc00;
    padding: 10px;
    scale: .9;
}
@media (max-width:767px) {
     .up h1{
       font-size: 25px;
    }
    .section4 .up p,
    .section5 .up p{
      text-align: center;
      padding: 0 15px;
     }
    .section1 h1{
    font-size: 30px;
    }
    .section1 p{
    padding: 0 20px;
    }
}